<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Users</title>

<style media="screen">
    body {
        background-color: #F9F9F9;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: fit;
       
    }
</style>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(users)}">
			<h1>Users</h1>
			
			<table class="table table-bordered">
				<thead>
					<tr class="info">

						<th>Viber ID</th>
						<th>Name</th>
						<th>Subscribed</th>
						<th>Delete</th>

					</tr>
				</thead>
				<tr class="active" th:each="user : ${users}">
					<td th:text="${user.viberId}">ViberID</td>
					<td th:text="${user.name}">Name</td>
					<td th:text="${user.subscribe}">subs</td>
	<!-- 			<td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>  -->	
				</tr>
			</table>	
		</div>
	</div>
				
</body>
</html>