<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css"/>
<meta charset="ISO-8859-1"></meta>
<title>Welcome to ViberBot Application!</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
		<p style="text-align:center;">Enjoy ViberBot</p>
		

</body>
</html>