<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"></meta>
<title>Welcome to ViberBot Application!</title>
<style media="screen">
    body {
        background-color: #F9F9F9;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: fit;

    }
</style>

<meta charset="ISO-8859-1"></meta>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
	
		<h2 style="text-align:center;" class="text-warning">Use Menu to manage Rooms, Users and Reservations</h2>
		
</body>
</html>