<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Welcome</title>
        <style media="screen">
    body {
        background-color: #F9F9F9;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: fit;      
    }
</style>
    </head>
    <body>
        <h1 style="text-align:center;" class="text-warning">Welcome!</h1>

        <h3 style="text-align:center;" class="text-warning">Click <a th:href="@{/hello}">here</a> to proceed.</h3>
    </body>
</html>