<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Users</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(reservations)}">
			<h1>Reservations</h1>
			
			<table class="table table-striped">
				<thead>
					<tr>

						<th>Date</th>
						<th>Time</th>
						<th>User</th>
						<th>Room</th>
						
						<th>Reserve</th>
						<th>Edit</th>
						<th>Delete</th>

					</tr>
				</thead>
				<tr th:each="reservation : ${reservations}">
					<td th:text="${reservation.date}">Date</td>
					<td th:text="${reservation.time}">Time</td>
					<td th:text="${reservation.user}">User</td>
					<td th:text="${reservation.room}">Room</td>
					
					<td><a th:href="${'/reservation/reserve/' + reservation.id}">Reserve</a></td>
					<td><a th:href="${'/reservation/delete/' + reservation.id}">Delete</a></td>
				</tr>
			</table>	
		</div>
	</div>
				
</body>
</html>