<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>ShowRoom</title>
    <style media="screen">
    body {
        background-color: #F9F9F9;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/14/22/07/142207cfb41addee27b138fa7b7638d0.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: fit;
       
    }
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Room Details</h2>
        <div>
            <table class="table table-bordered">
            <thead>
            <tr class="info">
                
                <th>Name</th>
                <th>Number</th>
                <th>Start work time</th>
                <th>End work time</th>
                <th>Edit</th>
                <th>Delete</th>
               
            </tr>
            </thead>
            <tr class="active">
            <body>
                <td th:text="${room.name}">Name</td>
                <td th:text="${room.number}">Number</td>
                <td th:text="${room.startWorkTime}">StartWorkTime</td>
                <td th:text="${room.endWorkTime}">EndWorkTime</td>
                     
                <td><a th:href="${'/room/edit/' + room.id}">Edit</a></td>
                <td><a th:href="${'/room/delete/' + room.id}">Delete</a></td>
            
            </tr>
            </body>
        </table>
            
            
         
    </div>
</div>

</body>
</html>